<h2>User info</h2>
<%= image_tag user.get_avatar(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to "aaa", edit_user_path(user), class: "btn btn-outline-secondary btn-block" %>
</div>

<!--userローカル変数を@userインスタンス変数に変更して渡す記述を入れること-->
            <%#= render 'books/list2', user: @user %>